flair==0.15.1
gensim==4.3.3
lexical_diversity==0.1.1
networkx==3.3
nltk==3.8.1
numpy==2.2.5
pandas==2.2.3
Pyphen==0.17.2
scikit_learn==1.6.1
sentence_transformers==4.0.1
spacy==3.7.5
torch==2.3.1
transformers==4.50.3
